<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>S18706 Bookstore</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body style="background-color:rgba(190,176,159,0.66);">
<nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">TPO5_PA_S18706</a>
    </div>
</nav>

<div class="container">
    <div class="section">

        <table>
            <thead>
                <tr>
                    <td colspan="3">
                        <form th:action="@{/}">
                        <div class="row">
                            <div class="input-field col s6">
                                    <input th:name="search" th:value="${search}" id="search" type="text">
                                    <label for="search">Wyszukaj książkę</label>
                            </div>
                            <div>
                                <ul class="right">
                                    <select th:name="sortBy" class="browser-default" onchange="this.form.submit()">
                                        <option th:value="titleUp" th:selected="${basic}==titleUp">Tutuł rosnąco</option>
                                        <option th:value="titleDown" th:selected="${basic}==titleDown">Tytuł malejąco</option>
                                        <option th:value="authorUp" th:selected="${basic}==authorUp" >Autor rosnąco</option>
                                        <option th:value="authorDown" th:selected="${basic}==authorDown">Autor malejąco</option>
                                        <option th:value="yearUp" th:selected="${basic}==yearUp">Rok rosnąco</option>
                                        <option th:value="yearDown" th:selected="${basic}==yearDown">Rok malejąco</option>
                                    </select>
                                </ul>
                            </div>
                        </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <th> Tytuł </th>
                    <th> Autor </th>
                    <th> Rok </th>
                </tr>
            </thead>
            <tbody>
            <tr th:if="${books.empty}">
                <td colspan="3"> Brak książek </td>
            </tr>
            <tr th:each="book : ${books}">
                <td><span th:text="${book.title}"> Title </span></td>
                <td><span th:text="${book.authorsLName}"></span> <span th:text="${book.authorsFName}"></span></td>
                <td><span th:text="${book.year}"> Rok </span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br><br>
</div>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>
</html>